#project{
    height: auto;
    background-color: white;
    border-radius: 2px;
}
header,footer{
    background-color:#000000;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #636363;
}
aside{
    background-color: #969696;
}
h3{
    color: whitesmoke;
    height: 35px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 10px;
    margin: 0;
    
}
#boxes{
    display: flex;
    justify-content: space-around;
    background-color: white;
}
#box{
    width: 410px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
   margin-inline: 15px;
   
    
    padding: 30px;
    
    background-color: #F2F2F2;
}
p{
    text-align: center;
    text-decoration: wavy;
    -webkit-text-stroke-color:#28282B ;
   
}

h2,h6{
    text-align: center;
}